/* global */
body {
  font-family: helvetica, arial, sans-serif;
  background-color: #F1F1F1;
  color: #444;
}

/* layout */
.container { width: 960px; margin: 0 auto; background-color: #FFF; padding: 10px; }
#header { clear: both; padding: 10px 0; margin-bottom: 10px;  }
#content { float: left; width: 700px; }
#sidebar { float: left; width: 260px; }
#footer { clear: both; }

/* navigation */
#nav ul { list-style: none;   }
#nav ul li { display: inline; }

/* posts */
.post {}
  .post h1, .post h1 a { font-size: 24px; margin-bottom: 10px; }
  .post-content { }
  .post #comments { margin-top: 10px; }

/* slider */
#full-slider-wrapper {
    overflow: hidden;
}

#full-slider {
    position: relative;
    height: 600px;
    margin: 0 auto;
}

#full-slider .slide-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    visibility: hidden;
}

#full-slider .slide-panel.active {
    visibility: visible;
}

#full-slider-nav {
    position: absolute;
    top: 0;
    right: 0;
}

#full-slider-nav-left, #full-slider-nav-right {
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 15px;
    border: 20px solid transparent;
    cursor: pointer;
}

#full-slider-nav-left {
    border-right-color: #BBB;
}

#full-slider-nav-left:hover {
    border-right-color: #999;
}

#full-slider-nav-right {
    border-left-color: #BBB;
}

#full-slider-nav-right:hover {
    border-left-color: #999;
}