/* global */
body {
  font-family: helvetica, arial, sans-serif;
  background-color: #F1F1F1;
  color: #444;
}

h1 {font-size: 24px;}
h2 {font-size: 20px; }
h3 {font-size: 18px;}

                  
/* layout */
.wrap { width: 960px; margin: 0 auto; }
.container { background-color: #FFF;  border-left: solid 2px #ccc; border-right: solid 2px #ccc; border-bottom: solid 2px #ccc;  }
#header { clear: both; border: solid 1px #333; }
#content { float: left; width: 700px; }
#sidebar { float: left; width: 240px; margin-left: 20px; }
#footer { clear: both; font-size: 10px; text-align: right; }

/* sidebar */
#sidebar h2 { border-bottom: solid 1px #ccc; margin-bottom: 5px; line-height: 30px; }
#sidebar ul { list-style: none; }
  #sidebar li { height: 24px; width: 100% }
  #sidebar li a { text-decoration: none;  }
    #sidebar li a:hover { }

/* navigation */
/* matte css menu via http://13styles.com/css-menus/matte/ */
#menu {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	list-style-type: none;
	background-color: #f1f1f1;
	font-size: 13px;
	height: 40px;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #ccc;
}
#menu li {
	float: left;
	margin: 0;				
}
#menu li a {
	text-decoration: none;
	display: block;
	padding: 0 20px;
	line-height: 40px;
	color: #666;
}
#menu li a:hover, #menu li.active a {
	background-color: #f1f1f1;
	border-bottom: 2px solid #DDD;
	color: #999;
}

/* Black Menu */
#nav.black ul {
	border-top: 2px solid #333;
	border-bottom: 2px solid #000;
	background: #333;}
#nav.black a {color: #CCC;}
#nav.black li a:hover, #nav.black li.active a {color: #999; background: #555; border-bottom: 2px solid #444;}
			
/* posts */
.post {}
  .post h1, .post h1 a { font-size: 24px; margin-bottom: 15px; color: #444; }
  .post-content { line-height: 20px; padding-top: 10px; }
    .post-content p { margin: 5px 0; }
  .post #comments { margin-top: 10px; }

/* slider */
#full-slider-wrapper {
    overflow: hidden;
}

#full-slider {
    position: relative;
    height: 600px;
    margin: 0 auto;
}

#full-slider .slide-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    visibility: hidden;
}

#full-slider .slide-panel.active {
    visibility: visible;
}

#full-slider-nav {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px #f1f1f1;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

#full-slider-nav-left, #full-slider-nav-right {
    display: inline-block;
    height: 0;
    width: 0;
    margin-left: 15px;
    border: 20px solid transparent;
    cursor: pointer;
}

#full-slider-nav-left {
    border-right-color: #BBB;
}

#full-slider-nav-left:hover {
    border-right-color: #999;
}

#full-slider-nav-right {
    border-left-color: #BBB;
}

#full-slider-nav-right:hover {
    border-left-color: #999;
}

/* wordpress editor files */
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* optional rounded corners for browsers that support it */
	margin: 10px;
	padding-top: 4px;
	text-align: center;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}